:root {
         --back-color: white;
         --navy-blue: #2E2F42;
         --cornflower: #E7E9FC;
      --cloud: #F4F4FD;
      --iris: #4d5ae5;
      --ocean: #404bbf;
      --slate: #434455;
}

body {
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 2;

   color: var(--slate);
   background-color: var(--back-color);
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--iris);
}

.h-studio {
   color: var(--navy-blue);
}

.list-item {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--navy-blue);
}

.list-item:focus,
.list-item:hover {
   color: var(--ocean);
}

.address {
   font-style: normal;
}

.contact {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--slate);
}

.contact:focus,
.contact:hover {
   color: var(--ocean);
}

.hero {
   background-color: var(--navy-blue);
}

.hero-title {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--back-color);
}

.button{
   background-color: var(--iris);
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--back-color);

   cursor: pointer;
}

.button:hover,
.button:focus {
   background-color: var(--ocean);
}

.header-link:hover,
.header-link:focus {
   color: var(--ocean);
}

.functions {

}

.functions-item {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--navy-blue);
}

.functions-par {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.options {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--navy-blue);
}

.team {
   background-color: var(--cloud);
}

.team-header {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--navy-blue);
}

.team-item {
   background-color: var(--back-color);
}

.worker-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--navy-blue);
}

.worker-position {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.btn {
   background-color: var(--iris);
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--iris);
   background-color: var(--cloud);

   cursor: pointer;
}

.btn:hover,
.btn:focus {
   color: var(--back-color);
   background-color: var(--ocean);
}

.subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--navy-blue);
}

.undertitle {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--slate);
}

.footer {
   background-color: var(--navy-blue);
}

.f-studio {
   color: var(--cloud);
}